.bi {
  font-size: 30px !important;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
@media (max-width: 600px) {
  .bi {
    font-size: 24px !important;
    margin-left: 0;
    margin-right: 0;
  }
  .bi-volume-up {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .bi-music-note-beamed {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
